/* font-style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* common-styles  */
body{
    font-family: 'Poppins', sans-serif;
}

/* blog-1-style-start  */
.container-one{
    display: flex;
    background-color: #2D25A0;
    justify-content: space-between;
    
    
}
.blog-1-tittle{
    width: 485px;
    height: 230px;
    margin-top: 207px;
    margin-left: 156px;
    
    font-size: 64px;
    font-weight: 700px;
    color: #FFFF;
}
.blog-1 button{
    width: 168px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    background-color: #E02C6D;
    margin-left: 156px;
    margin-top: 27px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.fas {
    margin-left: 8px;
}
.blog-1-banner img{
    width: 556.01px;
    height: 438px;
    
    margin-top: 153px;
    object-fit: contain;
    
    
}
.blog-1-banner:hover {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transition: transform 2s ease-in-out;
    
}

/* blog-2-start  */
.container-two{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.all-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap:30px; 
}
.player{
    
    width: 330px;
    height: 474px;
    background-color: #FFFFFF;
    box-shadow: 0 0 40px rgba(0,0,0,0.15);
    padding: 15px;
    border-radius: 10px;
}

.player-img img{
    width: 324px;
height: 256px;
border-radius: 10px;

}
.player-name{
    color: #18191F;
    font-size: 28px;
}
.player-detail{
    font-weight: 400;
    width: 300px;
    height: 104px;
    color: #6C6C6C;
}

/* copa-america-cup-styles.....---- */
.cup-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 25px;
}
.cup-container h2{
    text-align: center;
    color: rgba(9, 19, 148, 0.801);
}
.copa-cup img:hover{
   
    transform: rotate(360deg);
    transition: transform 2s ease-in-out;
}

/* winner-album-styles  */
.winner{
    text-align: center;
    margin-top: 50px;
}
.winner h3{
    color: rgba(9, 19, 148, 0.801);
}
.photo-album{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-frame{
    width: 300px;
    height: 200px;
    border: 2px solid grey;
    border-radius: 10px;
    position: relative;
    margin: 10px;
}
.photo img{
    width: 100%;
    border-radius: 10px;
}
.photo-detail{
    display: none;
    position: absolute;
    width: 300px;
    top: 0;
}
.photo-frame:hover .photo-detail{
    display: block;
    background-color: rgba(180, 179, 175, 0.7);
}
.photo-detail h3{
    background-color: black;
    color: white;
    text-align: center;
}
.photo-detail p{
    color: white;
    text-align: center;
}

/* footer-styles  */
.last-container{
  margin-top: 150px;
    }
    .last-part{
        
    display: flex;
    flex-direction: column;
    align-items: center;

    }
.last-part-img img{
    width: 483.87px;
    height: 110px;
    

}
.icon{
    width: 170px;
    height: 32px;
    text-align: center;
}
.icon-tag{
    color: #969BAB;
    width: 17.07px;
    height: 7.47px;
    margin-top: 7.47px;
    margin-left: 7.47px;
    
}
.last-line{
    width: 236px;
    height: 31px;
    font-size: 18px;
    align-items: center;
}




/* media query */
/* for screen size 688px */
@media only screen and (max-width: 688px) {
    
     